<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Root</key>
	<array>
		<dict>
			<key>Label</key>
			<string>1 rij tanden</string>
			<key>Explanation</key>
			<string>Alle zoogdieren hebben tanden in 1 rij. Tip: reptielen en vissen kunnen meerdere rijen tanden achter elkaar hebben.</string>
			<key>Fish</key>
			<integer>2</integer>
			<key>Mammal</key>
			<integer>0</integer>
			<key>Reptile</key>
			<integer>2</integer>
			<key>Bird</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>Label</key>
			<string>Verschillende type tanden</string>
			<key>Explanation</key>
			<string>Zoogdieren en sommige vissen hebben verschillende types tanden.</string>
			<key>Fish</key>
			<integer>2</integer>
			<key>Mammal</key>
			<integer>0</integer>
			<key>Reptile</key>
			<integer>2</integer>
			<key>Bird</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>Label</key>
			<string>Snavel</string>
			<key>Explanation</key>
			<string>Vogels hebben een snavel. Tip: ze hebben dus geen tanden!</string>
			<key>Fish</key>
			<integer>2</integer>
			<key>Mammal</key>
			<integer>2</integer>
			<key>Reptile</key>
			<integer>2</integer>
			<key>Bird</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>Label</key>
			<string>Tanden in meerdere rijen</string>
			<key>Explanation</key>
			<string>Vissen kunnen tanden in meerdere rijen hebben.</string>
			<key>Fish</key>
			<integer>1</integer>
			<key>Mammal</key>
			<integer>2</integer>
			<key>Reptile</key>
			<integer>1</integer>
			<key>Bird</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>Label</key>
			<string>Overal tanden in de bek</string>
			<key>Explanation</key>
			<string>Vissen hebben overal tanden in de bek. </string>
			<key>Fish</key>
			<integer>1</integer>
			<key>Mammal</key>
			<integer>2</integer>
			<key>Reptile</key>
			<integer>1</integer>
			<key>Bird</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>Label</key>
			<string>Allemaal hetzelfde type tanden</string>
			<key>Explanation</key>
			<string>De meeste vissen en reptielen hebben dezelfde type tanden.</string>
			<key>Fish</key>
			<integer>1</integer>
			<key>Mammal</key>
			<integer>2</integer>
			<key>Reptile</key>
			<integer>1</integer>
			<key>Bird</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>Label</key>
			<string>4 ledematen</string>
			<key>Explanation</key>
			<string>Reptielen, vogels en zoogdieren hebben 4 ledematen. Let op: bij slangen zijn de ledematen verdwenen. </string>
			<key>Fish</key>
			<integer>2</integer>
			<key>Mammal</key>
			<integer>1</integer>
			<key>Reptile</key>
			<integer>1</integer>
			<key>Bird</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>Label</key>
			<string>Lichaam recht boven de poten</string>
			<key>Explanation</key>
			<string>Vogels en zoogdieren hebben hun lichaam recht boven op hun poten. Tip: Reptielen hebben hun lichaam tussen de poten.</string>
			<key>Fish</key>
			<integer>2</integer>
			<key>Mammal</key>
			<integer>1</integer>
			<key>Reptile</key>
			<integer>2</integer>
			<key>Bird</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>Label</key>
			<string>Nagels</string>
			<key>Explanation</key>
			<string>Vogels, reptielen en zoogdieren hebben allemaal nagels.</string>
			<key>Fish</key>
			<integer>2</integer>
			<key>Mammal</key>
			<integer>1</integer>
			<key>Reptile</key>
			<integer>1</integer>
			<key>Bird</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>Label</key>
			<string>Tenen</string>
			<key>Explanation</key>
			<string>Vogels en zoogdieren hebben allemaal 1, 2, 3, 4 of 5 tenen per poot. Reptielen hebben altijd 5 tenen per poot.</string>
			<key>Fish</key>
			<integer>2</integer>
			<key>Mammal</key>
			<integer>1</integer>
			<key>Reptile</key>
			<integer>1</integer>
			<key>Bird</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>Label</key>
			<string>Staart</string>
			<key>Explanation</key>
			<string>Vogels, reptielen, vissen en zoogdieren hebben allemaal een staart. De staart van vogels is gemaakt van veren. Let op: soms is de staart zo klein dat je 'm niet meer ziet, zoals bij jou! </string>
			<key>Fish</key>
			<integer>1</integer>
			<key>Mammal</key>
			<integer>1</integer>
			<key>Reptile</key>
			<integer>1</integer>
			<key>Bird</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>Label</key>
			<string>Vleugels met veren</string>
			<key>Explanation</key>
			<string>Alleen vogels hebben 2 vleugels met veren.</string>
			<key>Fish</key>
			<integer>2</integer>
			<key>Mammal</key>
			<integer>2</integer>
			<key>Reptile</key>
			<integer>2</integer>
			<key>Bird</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>Label</key>
			<string>Vleugels van huid</string>
			<key>Explanation</key>
			<string>Soms hebben reptielen en zoogdieren een extra flap aan hun lijf, waarmee ze kunnen zweven. Dit heet een huidflap.</string>
			<key>Fish</key>
			<integer>2</integer>
			<key>Mammal</key>
			<integer>1</integer>
			<key>Reptile</key>
			<integer>1</integer>
			<key>Bird</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>Label</key>
			<string>2 poten</string>
			<key>Explanation</key>
			<string>Vogels hebben 2 poten waarop ze lopen. Dat is niet uniek, kijk maar eens naar jezelf!</string>
			<key>Fish</key>
			<integer>2</integer>
			<key>Mammal</key>
			<integer>1</integer>
			<key>Reptile</key>
			<integer>2</integer>
			<key>Bird</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>Label</key>
			<string>4 tenen per poot</string>
			<key>Explanation</key>
			<string>Alleen vogels hebben 4 tenen waarvan er 3 naar voren wijzen en 1 naar achteren.</string>
			<key>Fish</key>
			<integer>2</integer>
			<key>Mammal</key>
			<integer>2</integer>
			<key>Reptile</key>
			<integer>2</integer>
			<key>Bird</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>Label</key>
			<string>Vinnen</string>
			<key>Explanation</key>
			<string>Alleen vissen hebben vinnen.</string>
			<key>Fish</key>
			<integer>0</integer>
			<key>Mammal</key>
			<integer>2</integer>
			<key>Reptile</key>
			<integer>2</integer>
			<key>Bird</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>Label</key>
			<string>Staartvin</string>
			<key>Explanation</key>
			<string>Alleen vissen hebben een staartvin. </string>
			<key>Fish</key>
			<integer>0</integer>
			<key>Mammal</key>
			<integer>2</integer>
			<key>Reptile</key>
			<integer>2</integer>
			<key>Bird</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>Label</key>
			<string>Haren</string>
			<key>Explanation</key>
			<string>Alleen zoogdieren hebben haren.</string>
			<key>Fish</key>
			<integer>2</integer>
			<key>Mammal</key>
			<integer>0</integer>
			<key>Reptile</key>
			<integer>2</integer>
			<key>Bird</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>Label</key>
			<string>Veren</string>
			<key>Explanation</key>
			<string>Vogels hebben veren.</string>
			<key>Fish</key>
			<integer>2</integer>
			<key>Mammal</key>
			<integer>2</integer>
			<key>Reptile</key>
			<integer>2</integer>
			<key>Bird</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>Label</key>
			<string>Schubben op poten</string>
			<key>Explanation</key>
			<string>Reptielen en vogels hebben allebei schubben op hun poten.</string>
			<key>Fish</key>
			<integer>2</integer>
			<key>Mammal</key>
			<integer>2</integer>
			<key>Reptile</key>
			<integer>1</integer>
			<key>Bird</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>Label</key>
			<string>Schubben</string>
			<key>Explanation</key>
			<string>Vissen en reptielen hebben allebei schubben. Let op: het zijn wel andere soorten schubben. Bij vissen zijn schubben gemaakt van bot, bij reptielen van huid. Visschubben kun je eraf schrapen, bij bijvoorbeeld een krokodil lukt dat nooit.</string>
			<key>Fish</key>
			<integer>1</integer>
			<key>Mammal</key>
			<integer>2</integer>
			<key>Reptile</key>
			<integer>1</integer>
			<key>Bird</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>Label</key>
			<string>Uitstekend borstbeen</string>
			<key>Explanation</key>
			<string>Alleen vogels hebben een borstbeen dat naar voren uitsteekt.</string>
			<key>Fish</key>
			<integer>2</integer>
			<key>Mammal</key>
			<integer>2</integer>
			<key>Reptile</key>
			<integer>2</integer>
			<key>Bird</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>Label</key>
			<string>Plat borstbeen</string>
			<key>Explanation</key>
			<string>Reptielen, vissen en zoogdieren hebben een plat borstbeen. Tip: het borstbeen van vogels steekt naar voren uit.</string>
			<key>Fish</key>
			<integer>1</integer>
			<key>Mammal</key>
			<integer>1</integer>
			<key>Reptile</key>
			<integer>1</integer>
			<key>Bird</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>Label</key>
			<string>Kieuwen</string>
			<key>Explanation</key>
			<string>Vissen hebben inderdaad kieuwen. Trouwens: jonge amfibieën hebben ook kieuwen (maar amfibieën doen niet mee in dit spel). </string>
			<key>Fish</key>
			<integer>0</integer>
			<key>Mammal</key>
			<integer>2</integer>
			<key>Reptile</key>
			<integer>2</integer>
			<key>Bird</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>Label</key>
			<string>Nek</string>
			<key>Explanation</key>
			<string>Vogels, zoogdieren en reptielen hebben een nek. Let op: vissen hebben geen nek!</string>
			<key>Fish</key>
			<integer>2</integer>
			<key>Mammal</key>
			<integer>1</integer>
			<key>Reptile</key>
			<integer>1</integer>
			<key>Bird</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>Label</key>
			<string>Ei</string>
			<key>Explanation</key>
			<string>Vogels, vissen, en reptielen leggen inderdaad eieren, maar dit kun je niet zien aan het dier. Je weet dus niet zeker of dit ook echt zo is. Gebruik alleen kenmerken die jullie kunnen waarnemen.</string>
			<key>Fish</key>
			<integer>2</integer>
			<key>Mammal</key>
			<integer>2</integer>
			<key>Reptile</key>
			<integer>2</integer>
			<key>Bird</key>
			<integer>2</integer>
		</dict>
	</array>
</dict>
</plist>
